body {    
       font-family: "Roboto", sans-serif;        
      }
body {
    color: #434455;
    background-color: #FFFFFF;
}

.header-logos {
    font-family: 'Raleway', sans-serif;
     color: #4d5ae5;
}

.header-logos-blu {
    color: #2e2f42;
}

.header-menu-one {
    color: #2e2f42;
}

.link {
         color: #434455;
}

h1 {
    text-align: center;
    color:white;
}

.bodder {
    background-color: #2e2f42;
}

.section-button {
    background-color: #4d5ae5;
    color:  #fff;
    }


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-strategy {
    color: #434455;
}

.section-strategy {
    color: #2e2f42;
}

.section-team {
    color: #2e2f42;
}

.section-team-foto {   
        color: #2e2f42;
}

.section-team-text {
    color: #434455;
}